<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./assets/css/all.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/graph.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/nav.css">
</head>
<body>
	<% include ./partials/nav %>
	<div class="container-fluid padded" style="margin: 0px; padding: 0px; padding-top: 80px;">
		<div class = 'row'>
			<ul class="nav nav-tabs justify-content-end" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active disabled" id="blank-tab" value = 'BLANK' data-toggle="tab" href="#blank" role="tab" aria-controls="blank" aria-selected="false" style="position: relative; height: 100%; width: 100%; cursor: default;"></a>
				</li>
				<li class="nav-item graph-tab">
					<a class="nav-link graph-link" id="ammonia-tab" val= 'AMMONIA' data-toggle="tab" href="#ammonia" role="tab" aria-controls="ammonia" aria-selected="false">Ammonia</a>
				</li>
				<li class="nav-item graph-tab">
					<a class="nav-link graph-link" id="carbon-dioxide-tab" value = 'CARBON DIOXIDE' data-toggle="tab" href="#carbon-dioxide" role="tab" aria-controls="carbon-dioxide" aria-selected="false">Carbon Dioxide</a>
				</li>
				<li class="nav-item graph-tab">
					<a class="nav-link graph-link" id="hydrogen-sulfide-tab" value = 'HYDROGEN SULFIDE' data-toggle="tab" href="#hydrogen-sulfide" role="tab" aria-controls="hydrogen-sulfide" aria-selected="false">Hydrogen Sulfide</a>
				</li>
				<li class="nav-item graph-tab">
					<a class="nav-link graph-link" id="methane-tab" value = 'METHANE' data-toggle="tab" href="#methane" role="tab" aria-controls="methane" aria-selected="true">Methane</a>
				</li>
				<li class="nav-item graph-tab">
					<a class="nav-link graph-link" id="humidity-tab" value = 'HUMIDITY' data-toggle="tab" href="#humidity" role="tab" aria-controls="humidity" aria-selected="false">Relative Humidity</a>
				</li>
				<li class="nav-item graph-tab">
					<a class="nav-link graph-link" id="temp-tab" value = 'TEMP' data-toggle="tab" href="#temp" role="tab" aria-controls="temp" aria-selected="false"">Temperature</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active disabled" id="no-data-tab" value = 'BLANK' data-toggle="tab" href="#blank" role="tab" aria-controls="blank" aria-selected="false" style="position: relative; height: 100%; cursor: default; display: none;">No Data</a>
				</li>
				<li class="nav-item">
					<a class="nav-link active disabled" id="blank-tab" value = 'BLANK' data-toggle="tab" href="#blank" role="tab" aria-controls="blank" aria-selected="false" style="position: relative; height: 100%; cursor: default;"></a>
				</li>
			</ul>
		</div>
		<div class="row fixed-row-bottom" id="main-div">
			<div class="col" id="options-tab">
				<div class='row'>
					<div class="col">
						<div id='timetitle'></div>
					</div>
				</div>
				<div class="row">
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Station: </label>
						</div>
						<select class="custom-select" id = 'basestation_select'>
						</select>
					</div>

					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Group: </label>
						</div>
						<select class="custom-select" id = 'group_select'>
							<option value=''>None</option>
						</select>
					</div>
					<div class="input-group mb-3">
						<div class="input-group-prepend">
							<label class="input-group-text" for="inputGroupSelect01">Interval: </label>
						</div>
						<select class="custom-select" id = 'time_unit_select'>
							<option value="hourly">Hour</option>
							<option value="daily" selected="selected">Day</option>
							<option value="monthly">Month</option>
							<option value="yearly">Year</option>
						</select>
					</div>
				</div>

				<div class="row">
					<input type="submit" class="btn btn-outline-secondary" id="previous_btn" value="Prev. Day">
					<input type="submit" class="btn btn-outline-secondary" id="next_btn" value = "Next  Day">
				</div>
			</div>

			<div class='col-sm-10' id= 'chart-col'>
				<div class="tab-content" id="myTabContent">
					<div class="chart-container" style="position: relative; height:100%; width:100%">
						<canvas id="cursor" width="400" height="150" style= 'margin: 0 auto; position: absolute;'></canvas>
						<canvas id="chart" width="400" height="150" style="position: relative;"></canvas>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="./assets/js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./assets/js/graphbundle.js"></script>
</body>
</html>