<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="./assets/css/all.css">
	<link rel="stylesheet" type="text/css" href="./assets/css/nav.css">
</head>
<body>
	<% include ./partials/nav %>

	<div class="container-fluid padded">
		<div class="row" id='timetitle'></div>
		<div class="row">
			<div class="col-sm-8">
				<select id = 'time_unit_select'>
					<option value="hourly">Hourly</option>
					<option value="daily" selected="selected">Daily</option>
					<option value="monthly">Monthly</option>
					<option value="yearly">Yearly</option>
				</select>

				<select id = 'basestation_select'>
				</select>

				<select id = 'group_select'>
					<option value=''>None</option>
				</select>

			</div>
		</div>
		<ul class="nav nav-tabs" id="myTab" role="tablist">
			<li class="nav-item">
				<a class="nav-link active" id="methane-tab" data-toggle="tab" href="#methane" role="tab" aria-controls="methane" aria-selected="true">Methane</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="ammonia-tab" data-toggle="tab" href="#ammonia" role="tab" aria-controls="ammonia" aria-selected="false">Ammonia</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="hydrogen-sulfide-tab" data-toggle="tab" href="#hydrogen-sulfide" role="tab" aria-controls="hydrogen-sulfide" aria-selected="false">Hydrogen Sulfide</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="carbon-dioxide-tab" data-toggle="tab" href="#carbon-dioxide" role="tab" aria-controls="carbon-dioxide" aria-selected="false">Carbon Dioxide</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="temp-tab" data-toggle="tab" href="#temp" role="tab" aria-controls="temp" aria-selected="false">Temperature</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" id="humidity-tab" data-toggle="tab" href="#humidity" role="tab" aria-controls="humidity" aria-selected="false">Relative Humidity</a>
			</li>
		</ul>
		<div class="tab-content" id="myTabContent">
			<div class="tab-pane fade show active" id="methane" role="tabpanel" aria-labelledby="methane-tab">
				<div class="container-fluid" style="margin-top: 2%;">
					<div class="chart-container" style="position: relative; height:100%; width:100%">
						<canvas id="methane_chart" width="400" height="150"></canvas>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="ammonia" role="tabpanel" aria-labelledby="ammonia-tab">
				<div class="container-fluid" style="margin-top: 2%;">
					<div class="chart-container" style="position: relative; height:100%; width:100%">
						<canvas id="ammonia_chart" width="400" height="150"></canvas>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="hydrogen-sulfide" role="tabpanel" aria-labelledby="hydrogen-sulfide-tab">
				<div class="container-fluid" style="margin-top: 2%;">
					<div class="chart-container" style="position: relative; height:100%; width:100%">
						<canvas id="hydrogen_sulfide_chart" width="400" height="150"></canvas>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="carbon-dioxide" role="tabpanel" aria-labelledby="carbon-dioxide-tab">
				<div class="container-fluid" style="margin-top: 2%;">
					<div class="chart-container" style="position: relative; height:100%; width:100%">
						<canvas id="carbon_dioxide_chart" width="400" height="150"></canvas>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="temp" role="tabpanel" aria-labelledby="temp-tab">
				<div class="container-fluid" style="margin-top: 2%;">
					<div class="chart-container" style="position: relative; height:100%; width:100%">
						<canvas id="temp_chart" width="400" height="150"></canvas>
					</div>
				</div>
			</div>

			<div class="tab-pane fade" id="humidity" role="tabpanel" aria-labelledby="humidity-tab">
				<div class="container-fluid" style="margin-top: 2%;">	
					<div class="chart-container" style="position: relative; height:100%; width:100%">
						<canvas id="humidity_chart" width="400" height="150"></canvas>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<input type="submit" id="previous_btn" value="Previous">
			<input type="submit" id="next_btn" value = "Next">
		</div>

	</div>

	<script type="text/javascript" src="./assets/js/jquery-3.3.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="./assets/js/graphbundle.js"></script>
</body>
</html>