<nav class="navbar navbar-expand-sm navbar-light fixed-top navbar-shrink">
	<div class="container-fluid">
		<a class=".navbar-brand" href="/dashboard" style="font-size:24px; color: #777;">
			<b class="nav-link">Harvest Measurement</b>
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ml-auto">
	            <% if(!(user)){ %>
					<li class="nav-item">
						<a class="nav-link" href="/login"><i class="fas fa-sign-in-alt"></i> Login</a>
					</li>
	            <% } else { %>
	            	<li><a class="nav-link" href="/graph"><i class="fas fa-chart-line"></i> Graphs</a></li>
	                <li><a class="nav-link" href="/log"><i class="fas fa-book"></i> Log</a></li>
	                <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				        	<i class="fas fa-wrench"></i> Configuration
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
							<a class="dropdown-item" href="/basestations">Basestations</a>
							<a class="dropdown-item" href="/groups">Groups</a>
							<a class="dropdown-item" href="/sensors">Sensors</a>
				        </div>
				    </li>
	                <li><a class="nav-link" href="/myprofile"><i class="fas fa-user"></i> <%= user.username %> </a></li>
	                <li><a class="nav-link" href="/logout"><i class="fas fa-sign-out-alt"></i> Logout</a></li>
	            <% } %>
			</ul>
		</div>
	</div>
</nav>